<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.stirdiary">

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_logo"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".OwnDiary" android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
        <activity android:name=".DiaryReading" android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity android:name=".LoginPage" android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity android:name=".RandomDiary" android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity android:name=".RegisterPage" android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity android:name=".UserInfo" android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity android:name=".DcChooseWay" android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity android:name=".DcBottle" android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity android:name=".DcStir" android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity android:name=".DcBaseWine" android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity android:name=".DcFinal" android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity android:name=".DcText" android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
    </application>

</manifest>